<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Kafka"/>
  </extensions>
  <targets>
    <target name='kafka'
            xsi:type='Kafka'
            brokers='localhost:9092'
            topic='nlog-debug'
            layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />

    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="kafka" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>