<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Kafka"/>
  </extensions>
  <targets>
    <target name="kafka" xsi:type="Kafka">
      <topic>nlog-debug</topic>
      <debug>true</debug>
      <BootstrapServers>localhost:9092</BootstrapServers>

      <property name="security.protocol" value="plaintext" />
      <property name="sasl.mechanism" value="PLAIN" />
      <!--<property name="sasl.username" value="your-username" />
      <property name="sasl.password" value="your-password" />-->

      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="kafka" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>