<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <extensions>
    <add assembly="MyAssembly"/>
  </extensions>
  <targets>
    <target name='kafka'>
      <layout type='JsonLayout'>
        <attribute name='applicatiod' layout=''></attribute>
      </layout>
    </target>
  </targets>
  <rules>
    
  </rules>
</nlog>